.react-calendar {
  width: 500px;
  max-width: 100%;
  height: 350px;
  background-color: #000;
  border: 1px solid white;
  font-family: "Arial", "Helvetica", sans-serif;
  line-height: 1.125em;
  color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}

.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  box-sizing: border-box;
}

.react-calendar__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin-bottom: 1em;
  background-color: #111;
  padding: 0 10px;
  border-bottom: 1px solid #333;
  color: #fff;
}

.react-calendar__navigation button {
  background: none;
  border: none;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #fff;
  color: #000;
}

.react-calendar__month-view__weekdays {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold;
  color: #fff;
}

.react-calendar__month-view__weekdays__weekday {
  width: 14.28%;
  text-align: center;
  color: #fff;
}

.react-calendar__tile {
  padding: 10px 0;
  text-align: center;
  font-size: 0.9em;
  background: none;
  color: inherit;
  transition: background 0.2s ease;
  border-radius: 5px;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #444;
  color: inherit;
}

.react-calendar__month-view__days__day--weekend {
  color: #ff4d4d;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}

.react-calendar__tile--now {
  color: #00ff00;
  font-weight: bold;
}

.react-calendar__tile--active,
.react-calendar__tile--hasActive {
  background-color: #fff;
  color: #000;
  font-weight: bold;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #555;
  color: inherit;
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.all-diary {
  margin-left: 70px;
}
