.background-diary {
  background-color: #000;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 50px;
}

.diary-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 90%;
  max-width: 1200px;
  gap: 50px;
}

.left-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  gap: 5px;
}

.content {
  flex: 1;
  background-color: #111;
  color: white;
  border-radius: 10px;
  padding: 25px;
  min-height: 450px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
  border: 1px solid white;
}
